In [104]:
# Python Script to Extract tweets of a 
# particular Hashtag using Tweepy and Pandas

# import modules
from tweepy import Stream
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
import datetime
import tweepy
import json
import pandas as pd
import csv
import re #regular expression
from textblob import TextBlob
import string
import preprocessor as p
import os
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sasha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sasha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [105]:
# function to display data of each tweet
def printtweetdata(n, ith_tweet):
    print()
    print(f"Tweet {n}:")
    print(f"Username:{ith_tweet[0]}")
    print(f"Description:{ith_tweet[1]}")
    print(f"Location:{ith_tweet[2]}")
    print(f"Following Count:{ith_tweet[3]}")
    print(f"Follower Count:{ith_tweet[4]}")
    print(f"Total Tweets:{ith_tweet[5]}")
    print(f"Retweet Count:{ith_tweet[6]}")
    print(f"Tweet Text:{ith_tweet[7]}")
    print(f"Hashtags Used:{ith_tweet[8]}")
    print(f"Date:{ith_tweet[9]}")

In [106]:
#importer dansk som sprog
#pip install afinn
from afinn import Afinn
afinn = Afinn(language='da')

In [ ]:
# function to perform data extraction
def scrape(words, date_since, numtweet):
      
    # Creating DataFrame using pandas
    db = pd.DataFrame(columns=['username', 'description', 'location', 'following',
                               'followers', 'totaltweets', 'retweetcount', 'text', 'hashtags', 'date'])
      
    # We are using .Cursor() to search through twitter for the required tweets.
    # The number of tweets can be restricted using .items(number of tweets)
    tweets = tweepy.Cursor(api.search, q=words, lang="da",
                           since=date_since, tweet_mode='extended').items(numtweet)
     
    # .Cursor() returns an iterable object. Each item in 
    # the iterator has various attributes that you can access to 
    # get information about each tweet
    list_tweets = [tweet for tweet in tweets]
      
    # Counter to maintain Tweet Count
    i = 1  
      
    # we will iterate over each tweet in the list for extracting information about each tweet
    for tweet in list_tweets:
        username = tweet.user.screen_name
        description = tweet.user.description
        location = tweet.user.location
        following = tweet.user.friends_count
        followers = tweet.user.followers_count
        totaltweets = tweet.user.statuses_count
        retweetcount = tweet.retweet_count
        hashtags = tweet.entities['hashtags']
        date = tweet.created_at
          
        # Retweets can be distinguished by a retweeted_status attribute,
        # in case it is an invalid reference, except block will be executed
        try:
            text = tweet.retweeted_status.full_text
        except AttributeError:
            text = tweet.full_text
        hashtext = list()
        for j in range(0, len(hashtags)):
            hashtext.append(hashtags[j]['text'])
          
        # Here we are appending all the extracted information in the DataFrame
        ith_tweet = [username, description, location, following,
                     followers, totaltweets, retweetcount, text, hashtext, date]
        db.loc[len(db)] = ith_tweet
        
          
        # Function call to print tweet data on screen
        printtweetdata(i, ith_tweet)
        i = i+1
    filename = 'df3.csv'
    
    #filename df1= COVID19 Covid19dk coronadk
    #filename df2= (dkpol:Covid19dk) OR (dkpol:coronadk) OR (dkpol:COVID19)
    #filename df3= (dkmedier:Covid19dk) OR (dkmedier:coronadk) OR (dkmedier:COVID19)
      
    # we will save our database as a CSV file.
    db.to_csv(filename)
  
  
if __name__ == '__main__':
      
    # Enter your own credentials obtained 
    # from your developer account
    consumer_key = "5Lc4sTEI4Iu76e5NTUPonfiqA"
    consumer_secret = "VxE3SEPYgIGzvj3t3XEe77vNcpYAeOMKm3QpOfqa4ZO7y5tkEi"
    access_key = "1183298126523838464-AmxGW3Jn6Frrff281wewWSB386sEQ0"
    access_secret = "P36t9VcCYCWgn0QIdotXe2R4tbOz3rSeSHpuz0s5NkNz2"
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth)
      
    # Enter Hashtag and initial date
    print("Enter Twitter HashTag to search for")
    words = input()
    print("Enter Date since The Tweets are required in yyyy-mm--dd")
    date_since = input()
      
    # number of tweets you want to extract in one run
    numtweet = 10000
    scrape(words, date_since, numtweet)
    print('Scraping has completed!')

### Combining dataframes

In [107]:
df1=pd.read_csv('C:/Users/sasha/OneDrive/Uni/Stud.polit/7. Semester/Social Data Science/Eksamen/df1.csv')
df2=pd.read_csv('C:/Users/sasha/OneDrive/Uni/Stud.polit/7. Semester/Social Data Science/Eksamen/df2.csv')
df3=pd.read_csv('C:/Users/sasha/OneDrive/Uni/Stud.polit/7. Semester/Social Data Science/Eksamen/df3.csv')

obs = [df1, df2, df3]

data_set = pd.concat(obs)
data_set = data_set.reset_index(drop = True)
data_set

,Unnamed: 0,username,description,location,following,followers,totaltweets,retweetcount,text,hashtags,date
0,0,SupAyaLaya,NaN,NaN,1228,521,34115,1,"Beder alle indberette dette tweet, da det tyde...",[],2021-08-16 23:59:33
1,1,Mullarrd,"Nearsighted scrap pile, perpetual lefty. Searc...",Pangaea,515,536,39951,17,Få din vaccination uden tidsbestilling. Der er...,[],2021-08-16 21:14:11
2,2,GitteKJP,"Søger viden, nyheder og indsigter til eftertanke.",København,972,947,231239,17,Få din vaccination uden tidsbestilling. Der er...,[],2021-08-16 16:41:45
3,3,idamariehansen7,NaN,Nykøbing Sjælland,1292,346,21549,17,Få din vaccination uden tidsbestilling. Der er...,[],2021-08-16 16:07:07
4,4,ThomasHeie,Fængselsbetjent - FREM'er - Fotograf - FDFer,"København, Danmark",111,269,21567,0,Indsatsen i Afghanistan har kostet Danmark 15 ...,"['dkpol', 'COVID19dk']",2021-08-16 15:48:37
...,...,...,...,...,...,...,...,...,...,...,...
1731,26,KlausKblog,"Klaus K, journalist & sangskriver i Danser med...",København,511,2464,33254,28,Israels massevaccination: \n25% stigning i hje...,[],2021-08-11 18:48:21
1732,27,HettingClaus,"""Three things remain not long hidden: The Sun,...",Denmark,2249,2717,15616,28,Israels massevaccination: \n25% stigning i hje...,[],2021-08-11 17:59:14
1733,28,nbm_1981,IT Automation Consultant (MCAAA/MCSA/MCP). Lik...,"København, Danmark",612,624,12430,28,Israels massevaccination: \n25% stigning i hje...,"['dkpol', 'dkmedier', 'coronadk', 'covid19dk',...",2021-08-11 17:50:59
1734,29,transceiverfreq,xi=aixi'-(d+ai0+ai1)xi+rxi(fi-Φ ) | Freelance ...,"Frederiksberg, Denmark",339,1089,44893,0,@DRNyheder @tv2newsdk @moderna_tx @pfizer Jeg ...,"['dkpol', 'dkmedier', 'COVID19']",2021-08-10 19:29:12
1735,30,CirkuzE,Cirkuz Pol-Etik Et samfunds satirisk program,NaN,179,1,45,0,Kan man få en klima-vaccine?? Så er @Spolitik ...,"['dkpol', 'dkmedier', 'COVID19dk', 'coronadk',...",2021-08-09 16:41:59

### Cleaning the DataFrame

In [ ]:
#https://stackoverflow.com/questions/33404752/removing-emojis-from-a-string-in-python

In [108]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
         "]+", flags=re.UNICODE)

In [109]:
#Dropping collumns
data_set1 = data_set.drop(['Unnamed: 0','username', 'description', 'followers', 'following'], axis=1).reset_index(drop = True)

#Creating collumn for hashtags
data_set1['hashtags'] = data_set1['text'].apply(lambda x: re.findall(r'#(\w+)', x))

#Calling text column
tweets = data_set1['text'].values

In [110]:
import numpy as np
wnl = nltk.WordNetLemmatizer()

def clean_tweet(tweet):
    if type(tweet) == np.float64:
        return ""
    temp = tweet.lower()
    temp = re.sub("'", "", temp) 
    temp = re.sub("@[A-Za-z0-9_]+","", temp)
    temp = re.sub("#[A-Za-z0-9_]+","", temp)
    temp = re.sub(r'http\S+', '', temp)
    temp = re.sub('[()!?]', ' ', temp)
    temp = re.sub('[.,*?:]',' ', temp)
    temp = re.sub('\v', ' ', temp)
    temp = re.sub("[\\n]",' ', temp)
    temp = re.sub('1/n',' ', temp)
    temp = re.sub('2/n',' ', temp)
    temp = re.sub('3/n',' ', temp)
    temp = re.sub('4/n',' ', temp)
    temp = re.sub('5/n',' ', temp)
    temp = re.sub('6/n',' ', temp)
    temp = re.sub('7/n',' ', temp)
    temp = re.sub('8/n',' ', temp)
    temp = re.sub('-','', temp) 
    temp = re.sub('%','', temp) 
    temp = re.sub('["]','', temp)
    temp = re.sub("[']","", temp)
    temp = re.sub('[0-9]', ' ', temp)
    temp = re.sub('\+', ' ', temp)
   
    temp = emoji_pattern.sub(r'', temp)
    return temp

In [111]:
clean_data = [clean_tweet(tweets) for tweets in tweets]

c = str(clean_data) #converting the clean_data from a list to a string
a = c.replace("'", "")
b = a.replace(",", "")

In [112]:
#Remove danish stopWords
stopWords = set(stopwords.words('danish'))
sent_sw_removed = [i for i in nltk.word_tokenize(b.lower()) if i not in stopWords]

In [113]:
from collections import Counter

tæl = Counter(sent_sw_removed).most_common()

In [114]:
counter_tabel=pd.DataFrame(tæl)
counter_tabel.columns = ['Ord', 'Antal']

counter_tabel

                      Ord  Antal
0                   covid    351
1                     kan    306
2                      så    224
3             vaccination    200
4                      få    177
...                   ...    ...
3902                  wto      1
3903          tilsidesætt      1
3904           patenterne      1
3905  medicinalindustrien      1
3906             muharrem      1

[3907 rows x 2 columns]

In [115]:
tweetser = [None for i in range(len(data_set1))]

score = [None for i in range(len(data_set1))]
for i in range(len(data_set1)):  
    tweetser[i] = clean_tweet(data_set1.text.values[i])
    score[i]= afinn.score(tweetser[i])
    
#count reetweets
#Counter(tweetser).most_common()

In [121]:
data_set1['Clean Text'] = tweetser
data_set1['Sentiment'] = score
final_set = data_set1.drop(['text'], axis=1).reset_index(drop = True)
final_set

,location,totaltweets,retweetcount,hashtags,date,Clean Text,Sentiment
0,NaN,34115,1,"[coronadk, dkmedier, dkpol, covid19dk]",2021-08-16 23:59:33,beder alle indberette dette tweet da det tyde...,-1.0
1,Pangaea,39951,17,"[Bornholm, sundpol, dkpol, COVID19dk]",2021-08-16 21:14:11,få din vaccination uden tidsbestilling der er...,0.0
2,København,231239,17,"[Bornholm, sundpol, dkpol, COVID19dk]",2021-08-16 16:41:45,få din vaccination uden tidsbestilling der er...,0.0
3,Nykøbing Sjælland,21549,17,"[Bornholm, sundpol, dkpol, COVID19dk]",2021-08-16 16:07:07,få din vaccination uden tidsbestilling der er...,0.0
4,"København, Danmark",21567,0,"[dkpol, COVID19dk]",2021-08-16 15:48:37,indsatsen i afghanistan har kostet danmark ...,0.0
...,...,...,...,...,...,...,...
1731,København,33254,28,"[dkpol, dkmedier, coronadk, covid19dk, sundpol...",2021-08-11 18:48:21,israels massevaccination stigning i hjert...,0.0
1732,Denmark,15616,28,"[dkpol, dkmedier, coronadk, covid19dk, sundpol...",2021-08-11 17:59:14,israels massevaccination stigning i hjert...,0.0
1733,"København, Danmark",12430,28,"[dkpol, dkmedier, coronadk, covid19dk, sundpol...",2021-08-11 17:50:59,israels massevaccination stigning i hjert...,0.0
1734,"Frederiksberg, Denmark",44893,0,"[dkpol, dkmedier, COVID19]",2021-08-10 19:29:12,jeg kan på det varmeste anbefale at læse ...,2.0
1735,NaN,45,0,"[dkpol, dkmedier, COVID19dk, coronadk, klimamå...",2021-08-09 16:41:59,kan man få en klimavaccine så er og mette m...,1.0